<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Test Automation">


	
  <test name="Navigate to Sign In Page Test">
  		<classes>
			<class name="com.amazon.testcases.NavigateToSignInPageTest" />
		</classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
