<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Test Automation">

	<listeners>

		<listener class-name="com.amazon.listeners.CustomListeners" />


	</listeners>

	<test name="Navigate to Sign In Page Test">
		<classes>
			<class name="com.amazon.testcases.NavigateToSignInPageTest" />
		</classes>
	</test> <!-- Test -->

	<test name="Change Deliver To Address">
		<classes>
			<class name="com.amazon.testcases.ChangeDeliveryAddress" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
