<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Test Automation">

	<listeners>

		<listener class-name="com.w2a.listeners.CustomListeners" />

		<listener class-name="com.w2a.errorcollectors.TestListenerAdapter" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />

	</listeners>
	
  <test thread-count="5" name="Test">
  
  
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
